/target/
/codelist.xlsx
/archive/
/backup/
/latest/
/template/
/katjuscha.properties
/codelist.csv
/katjuscha.properties.bak
/seatplan-emailtemplate.xls
/seatplan-emailtemplate.xls.bak
/seatplan.conf
/seatplan.xls
/seatplan.xls.bak
/ticketpayments.xls
